<!DOCTYPE html>
<html lang="en">
{% include 'adminpanel/base.html' %}

<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'adminpanel/menu.html'%}

      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        {% include 'adminpanel/navBar.html'%}

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="table-wrapper">
          <!-- Content -->

          <div class="m-md-5 m-2 mt-4">
            <div>
              <div>
                <div class="container-md">
                  <div>
                    <h5>Add Bill</h5>
                  </div>
                  <div style="padding-top: 20px;">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="form-label">Select Item</label>
                            <select class="form-select me-4" autocomplete="on" aria-label="Default select example">
                              <option selected>Select or Enter Item Name</option>
                              <option value="jan">Engine Oil</option>
                              <option value="feb">Rice</option>
                              <option value="mar">Powder</option>
                            </select>
                            <div class="w-100 text-center mt-2 mb-2">
                              <span>OR</span>
                            </div>
                            <select class="form-select me-4" autocomplete="on" aria-label="Default select example">
                              <option selected>Select or Enter Item Code</option>
                              <option value="jan">CA543</option>
                              <option value="feb">CA233</option>
                              <option value="mar">CA9543</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Quantity</label>
                            <input class="form-control" type="text">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Retail Price</label>
                            <div class="input-group mb-3">
                              <span class="input-group-text">₹</span>
                              <input type="text" class="form-control" value="500" readonly
                                aria-label="Amount (to the nearest dollar)">
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Item Tax</label>
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" value="10" readonly>
                              <span class="input-group-text">%</span>
                            </div>
                          </div>
                          <div class="mb-5">
                            <label class="form-label">Total Price</label>
                            <div class="input-group mb-3">
                              <span class="input-group-text">₹</span>
                              <input type="text" class="form-control" value="550" readonly
                                aria-label="Amount (to the nearest dollar)">
                            </div>
                          </div>
                          <div class="w-100 mt-3 d-flex justify-content-center">
                            <button class="btn btn-blue w-100 text-center">Add Item</button>
                          </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class=" col-md-7">
                          <div class="mb-3">
                            <label class="form-label">Customer Name</label>
                            <select class="form-select me-4" autocomplete="on" aria-label="Default select example">
                              <option selected>Select Customer Name</option>
                              <option value="jan">Vetri</option>
                              <option value="feb">Karthick</option>
                              <option value="mar">Ananth</option>
                            </select>
                          </div>
                          <div>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">S.No</th>
                                  <th scope="col">Item Name/Code</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Retail Price(₹)</th>
                                  <th scope="col">Tax(%)</th>
                                  <th scope="col">Total Price(₹)</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Engine Oil</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Powder</td>
                                  <td>10</td>
                                  <td>500</td>
                                  <td>10</td>
                                  <td>550</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="d-flex justify-content-between align-items-center bg-light p-4"
                            style="position: fixed; bottom: 1%;right: 5%;width: 750px;">
                            <div class="mb-3">
                              <label class="form-label">Payment Mode</label>
                              <select class="form-select me-4" autocomplete="on" aria-label="Default select example">
                                <option selected>Select Payment Mode</option>
                                <option value="jan">Cash</option>
                                <option value="feb">Card</option>
                                <option value="mar">GPay</option>
                              </select>
                            </div>
                            <div>
                              <p class="me-3">Total Price:</p>
                              <p><b>₹ 3600</b></p>
                            </div>
                            <div class="d-flex w-25">
                              <button class="btn btn-success me-3 w-50">Paid</button>
                              <button class="btn btn-secondary w-50">Unpaid</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  {% include 'adminpanel/footerJS.html' %}
</body>

</html>