<!DOCTYPE html>
<html lang="en">
{% include 'adminpanel/base.html' %}

<body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            {% include 'adminpanel/menu.html'%}

            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                {% include 'adminpanel/navBar.html'%}

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="table-wrapper">
                    <!-- Content -->

                    <div class="m-md-4 m-2 mt-4">
                        <div>
                            <div>
                                <div class="container-md" style="max-width: 500px;">
                                    <div>
                                        <h5>Edit Salary</h5>
                                    </div>
                                    <div style="padding-top: 5px;">
                                        <div>
                                            <form id="edit-salary" role="form" enctype="multipart/form-data">
                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                    value="{{ csrf_token }}">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label class="form-label">Staff</label>
                                                            <select name="staff" class="form-select me-4"
                                                                autocomplete="on" aria-label="Default select example">
                                                                {% for st in staff_type %}
                                                                <option value="{{st.id}}" {% if s.staff == st %}
                                                                    selected{% endif %}>{{ st.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <!-- <div class="mb-3">
                              <label class="form-label">Staff Type</label>
                              <input class="form-control" type="text" value="Permanent" readonly>
                            </div> -->
                                                        <div class="mb-3">
                                                            <label class="form-label">Date</label>
                                                            <input name="date" value="{{s.date|date:'Y-m-d'}}"
                                                                type="date" class="form-control">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Amount</label>
                                                            <div class="input-group mb-3">
                                                                <span class="input-group-text">₹</span>
                                                                <input name="amount" value="{{s.amount}}" type="number"
                                                                    step="0.000001" type="text" class="form-control"
                                                                    aria-label="Amount (to the nearest dollar)">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Payment Mode</label>
                                                            <select name="payment_mode" class="form-select me-4"
                                                                autocomplete="on" aria-label="Default select example">
                                                                {% for p in pay_mode %}
                                                                <option value="{{p.id}}" {% if s.payment_mode == p %}
                                                                    selected{% endif %}>{{ p.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Notes</label>
                                                            <textarea name="notes"
                                                                class="form-control">{{s.notes}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w-100 mt-3 d-flex justify-content-center">
                                                    <input class="btn btn-success" type="button" value="Submit"
                                                        onclick="updateItem('{{s.id}}')" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <script>
        function updateItem(itemId) {
            $form = $('#edit-salary');
            var formData = $form.serialize();
            console.log(formData);
            var data
            $.ajax({
                url: `/editsalary/${itemId}`,
                type: 'PUT',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                data: formData,
                processData: false,
                success: function () {
                    window.location = "/salary";
                }

            })
        }
    </script>

    {% include 'adminpanel/footerJS.html' %}
</body>

</html>