<!DOCTYPE html>
<html lang="en">
{% include 'adminpanel/base.html' %}

<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'adminpanel/menu.html'%}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        {% include 'adminpanel/navBar.html'%}

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="table-wrapper">
          <!-- Content -->

          <div class="m-md-4 m-2 mt-5">
            <div class="row">
              <div class="col">
                <h5>Engine Oil (CA123)</h5>
              </div>
              <div class="col text-end">
                <div class="dropdown">
                  <a href="registrationform.html" class="btn btn-primary">Edit</a>
                  <button type="button" class="ms-md-2 mt-md-0 mt-2 btn border-danger text-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="row  mt-3">
              <div class="col-md-6 p-4 bg-light">
                <table class="table" style="width:100%;">
                  <tr>
                    <td class="text-start">Item Name</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">Engine Oil</td>
                  </tr>
                  <tr>
                    <td class="text-start">Item Code</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">CA123</td>
                  </tr>
                  <tr>
                    <td class="text-start">Manufacturer</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">Castrol</td>
                  </tr>
                  <tr>
                    <td class="text-start">Item Tax</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">5%</td>
                  </tr>
                  <tr>
                    <td class="text-start">Retail Price</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">₹ 500</td>
                  </tr>
                  <tr>
                    <td class="text-start">Total Stock</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">20</td>
                  </tr>
                  <tr>
                    <td class="text-start">Available Stock</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">10</td>
                  </tr>
                  <tr>
                    <td class="text-start">Expired Stock</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">10</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Batch Number</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Expiry Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>4567</td>
                      <td>30</td>
                      <td>MAR 2022</td>
                    </tr>
                    <tr>
                      <td>9765</td>
                      <td>40</td>
                      <td>JAN 2021</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <script src="apex-charts/apexcharts.js"></script>
  <script src="apex-charts/dashboards-analytics.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $(".layout-menu-toggle").click(function () {
        $("#layout-menu").toggleClass("slide_menu");
        $(".layout-overlay").toggleClass("overlay");
      });
    })
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>