<!DOCTYPE html>
<html lang="en">

{% include 'adminpanel/base.html' %}

<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'adminpanel/menu.html'%}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        {% include 'adminpanel/navBar.html' %}

        <!-- / Navbar -->

        <!-- Content wrapper -->

        <div class="table-wrapper">
          <!-- Content -->
          <div class="m-md-4 m-2 mt-3">
            <div class="table-responsive">
              <div id="addnew" class="addnew">
                <a href="addinventory" id="remove" class="btn btn-blue">
                  Add Inventory
                </a>
              </div>html
              <table id="table" class="table card-table" data-toggle="table" data-search="true" data-pagination="true"
                data-id-field="id" data-page-list="[10, 25, 50, 100, all]">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Item ID</th>
                    <th>Item Code</th>
                    <th>Manufacturer</th>
                    <th>Total Stock</th>
                    <th>Available Stock</th>
                    <th>Expired Stock</th>
                    <th>Item Tax (%)</th>
                    <th>Retail Price (₹)</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  {% for i in inventory %}
                  <tr>
                    <td>{{i.item_name}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.item_code}}</td>
                    <td>{{i.manufacturer}}</td>
                    <td>{{i.item_name}}</td>
                    <td>{{i.item_name}}</td>
                    <td>{{i.item_name}}</td>
                    <td>{{i.item_tax}}</td>
                    <td>{{i.retail_price}}</td>
                    <td>
                      <div class="dropdown">
                        <a href="addstock" class="btn btn-primary me-md-2">Add Stock</button>
                        </a>
                        <a href="/viewitem/{{i.id}}" class="btn btn-outline-primary">View Detail</button>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->
  {% include 'adminpanel/footerJS.html' %}
</body>

</html>