<!DOCTYPE html>
<html lang="en">
{% include 'adminpanel/base.html' %}

<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'adminpanel/menu.html'%}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        {% include 'adminpanel/navBar.html'%}

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="table-wrapper">
          <!-- Content -->

          <div class="m-md-5 m-2 mt-5">
            <div class="row">
              <div class="d-flex justify-content-between col-md-6">
                <h5>Salary</h5>
                <div class="dropdown">
                  <a href="/editsalary/{{s.id}}" class="btn btn-primary">Edit</a>
                  <button type="button" class="ms-md-2 mt-md-0 btn border-danger text-danger">Delete</button>
                </div>
              </div>
              <!-- <div class="col-md-3 text-end">
                    <div class="dropdown">
                      <a href="editexpense.html" class="btn btn-primary">Edit</a>
                      <button type="button" class="ms-md-2 mt-md-0 mt-2 btn border-danger text-danger">Delete</button>
                    </div>
                  </div> -->
            </div>
            <div class="row  mt-3">
              <div class="col-md-6 p-4 bg-light">
                <table class="table" style="width:100%;">
                  <tr>
                    <td class="text-start">Staff Name</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.staff}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Staff ID</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.id}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Staff Type</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.staff.type}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Date</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.date}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Amount</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">₹ {{s.amount}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Payment Mode</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.payment_mode}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Notes</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.notes}}</td>
                  </tr>
                </table>
                <div class="mt-5">
                  <a href="/viewstaff/{{s.staff.id}}" class="btn btn-blue">View Staff Detail</a>
                </div>
              </div>
            </div>
          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  {% include 'adminpanel/footerJS.html' %}
</body>

</html>