<!DOCTYPE html>
<html lang="en">
{% include 'adminpanel/base.html' %}

<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      {% include 'adminpanel/menu.html'%}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        {% include 'adminpanel/navBar.html'%}

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="table-wrapper">
          <!-- Content -->

          <div class="m-md-5 m-2 mt-5">
            <div class="row">
              <div class="col">
                <h5>Staff Details</h5>
              </div>
              <div class="col text-end">
                <div class="dropdown">
                  <a href="/editstaff/{{s.id}}" class="btn btn-primary">Edit</a>
                  <button type="button" class="ms-md-2 mt-md-0 mt-2 btn border-danger text-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="row  mt-3">
              <div class="col-md-6 p-4 bg-light">
                <table class="table" style="width:100%;">
                  <tr>
                    <td class="text-start">Staff Name</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.name}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Staff ID</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.id}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Phone Number</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.phone_number}}</td>
                  </tr>
                  <tr>
                    <td class="text-start">Email ID</td>
                    <td class="text-start">:</td>
                    <td class="text-start ps-3">{{s.email}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Salary Date</th>
                      <th scope="col">Salary No</th>
                      <th scope="col">Salary Amount (₹)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>14-03-2022</td>
                      <td><a href="viewsalary">SI4567</a></td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>14-03-2022</td>
                      <td><a href="viewsalary">SI4567</a></td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>14-03-2022</td>
                      <td><a href="viewsalary">SI4567</a></td>
                      <td>5000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- / Content -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  {% include 'adminpanel/footerJS.html' %}
</body>

</html>